/* tkwinico.rc - 
 *
 * Resources (version and icons) for the Winico package.
 *
 * Copyright (c) 1997-1998 Brueckner&Jarosch
 * Copyright (c) 2004 Patrick Thoyts <patthoyts@users.sourceforge.net>
 *
 * $Id$
 */


#include <winver.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION	COMMAVERSION
 PRODUCTVERSION	COMMAVERSION
 FILEFLAGSMASK	0x3fL
#ifdef DEBUG
 FILEFLAGS	VS_FF_DEBUG
#else
 FILEFLAGS	0x0L
#endif
 FILEOS		VOS__WINDOWS32
 FILETYPE	VFT_DLL
 FILESUBTYPE	0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"   /* LANG_ENGLISH/SUBLANG_ENGLISH_US, Unicode CP */
        BEGIN
            VALUE "FileDescription",  "Winico extension\0"
            VALUE "OriginalFilename", "winico" VERSION ".dll\0"
            VALUE "FileVersion",      DOTVERSION "\0"
            VALUE "LegalCopyright",   "Copyright \251 Brueckner & Jarosch and others\0"
            VALUE "ProductName",      "Winico " DOTVERSION "\0"
            VALUE "ProductVersion",   DOTVERSION "\0"
            VALUE "Comments",         "http://tktable.sourceforge.net/\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

/*
 * Icons
 */

#define ANUMBER 1
smiley  ICON    DISCARDABLE     "smiley.ico"
leo     ICON    DISCARDABLE     "leo.ico"
ANUMBER ICON    DISCARDABLE     "leo.ico"

/*
 * Local variables:
 * mode: c
 * indent-tabs-mode: nil
 * End:
 */
